{"filter":false,"title":".gitignore","tooltip":"/s3-get-nodejs6/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1534180397822,"hash":"4a0d054fccdafcbb199afb98f888cce5756d6e58"}